* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://oracle-devrel.github.io/devo-image-repository/seo-thumbnails/JavaScript---Thumbnail-1200-x-630.jpg);
    background-size: cover;  /*ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /*No repetir imagen*/
    width: 100%;
}

#contenido {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

#contenido h1 {
    font-size: 40px;
    color: orangered;
}

#contenido p {
    font-size: 20px;
}

#contenido button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contenido button:hover {
    background-color: #0056b3;
}

#contenido span {
    display: block;
    text-align: center;
}
