* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A5276;
    font-family: 'Courier New', Courier, monospace;
}

#navegador {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #7FB3D5;
}

#navegador nav {
    margin: 0 auto;
}

#navegador ul {
    list-style: none;
    padding: 0;
}

#navegador ul li {
    display: inline-block;
    margin-right: 20px;
}

#navegador ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

#navegador ul li a:hover {
    color: red;
}

#navegador img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

#contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#contenedor h1{
    text-align: center;
    margin-bottom: 20px;
}

#contenedor strong {
    font-size: 1.15em;
}

#contenedor p {
    margin-bottom: 10px;
    font-size: 1.1em;
}

#contenedor button {
    padding: 10px 20px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contenedor button:hover {
    background-color: #0f5ba7;
}

#contenedor form {
    margin-bottom: 20px;
    text-align: center;
}

#contenedor form strong {
    display: block;
    margin-bottom: 5px;
}

#contenedor form input[type="number"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#contenedor form button {
    width: 50%;
    padding: 10px 20px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contenedor form button:hover {
    background-color: #0f5ba7;
}

#total {
    display: block;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold;
}

#contenedor .texto {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

#contenedor .texto-boton {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contenedor .texto-resultado {
    text-align: center;
    padding-top: 10px;
}

#contenedor input[type="number"],input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}