/* Esto es como decirle a todos los elementos de la página que no tengan márgenes ni rellenos por defecto, y que calculen su tamaño de una manera específica. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aquí le estamos diciendo al cuerpo de la página que se vista de negro. */
body {
    background-color: black;
}

/* Esto es como la ropa del menú de navegación, le ponemos un color cian, lo alineamos y le damos un poco de espacio alrededor. */
nav {
    color: cyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 2rem;
}

/* Esto es como ajustar el tamaño de la letra del título en el menú. */
nav h1 {
    font-size: 2rem;
    margin-right: 1px;
}

/* Es como decirle a la lista del menú que se alinee en fila y que no tenga viñetas. */
nav ul {
    display: flex;
    list-style: none;
}

/* Esto es como darle un poco de espacio a cada elemento de la lista del menú. */
nav li {
    margin-right: 20px;
}

/* Aquí le decimos a los enlaces del menú que se vistan de cian y que no tengan subrayado. */
nav a {
    color: cyan;
    text-decoration: none;
}

/* Esto es como un truco de magia que cambia el color de los enlaces a azul cuando pasas el ratón por encima. */
nav a:hover {
    color: blue;
}

/* Esto es como centrar un contenedor en la página. */
.container {
    text-align: center;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Aquí estamos creando un reloj redondo con un borde cian y sombra interior. */
#watch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 5px solid cyan;
    color: white;
    border-radius: 50%;
    font-family: monospace;
    font-size: 5rem;
    box-shadow: inset 0px 0px 20px 0px cyan;
    position: relative;
}

/* Esto es como elegir una tipografía moderna y un color cian para el contenido principal. */
main {
    font-family: 'Roboto Mono', monospace;
    position: relative;
    color: cyan;
    font-size: 40px;
}

/* Aquí estamos diseñando un círculo rojo que parece un botón o una señal de stop. */
.circle {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 1px solid red;
    color: red;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Esto es como crear un halo cian alrededor del círculo rojo. */
.circle::before {
    content: '';
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    width: 300px;
    height: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    background-color: cyan;
}

/* Aquí le damos estilo a la esfera que representa los segundos en nuestro reloj. */
.seconds-sphere {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 85px);
    animation: rotation 60s linear infinite;
}

/* Esto es como decirle a la esfera de los segundos cómo y cuánto debe girar. */
@keyframes rotation {
    from {
        transform: rotate(-90deg) translateX(60px);
    }
    to {
        transform: rotate(270deg) translateX(60px);
    }
}

/* Esto es como alinear los botones debajo del reloj. */
.buttons {
    margin-top: 10px;
    display: inline-flex;
}

/* Aquí le damos estilo al botón de pausa para que parezca una flecha. */
.paused {
    height: 40px;
    border-width: 20px 0px 20px 40px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 15px;
    border-color: transparent transparent transparent red;
    transition: 100ms all ease;
    will-change: border-width;
    border-style: solid;
}

/* Esto es como darle al botón de reproducción un estilo de doble borde. */
.running {
    border-style: double;
    border-width: 0 0 0 40px;
}

/* Y finalmente, esto es como crear un botón de stop cuadrado y rojo. */
.stop {
    background-color: red;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#input-container {
    color: white;
}

.time-container {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 1px solid red;
    color: red;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}